@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

/* TODO: ADD THEMES */
:root {
    --main-accent-colour-light: #f0f0f0;
    --main-colour-light: #ffffff;
    --text-colour-light: #333333;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: var(--text-colour-light);
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a { 
    text-decoration: none;
    color: var(--main-colour-dark);
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

/* Navbar */
.navbar {    
    background-color: var(--main-accent-colour-light);
    color: var(--text-colour-light);
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
}

.navbar input[type="search"] {
    width: 50%;
    height: 30px;
    border: none;
    border-radius: 20px;
    padding: 5px 25px;
    justify-self: center;
}

.navbar input[type="search"]:focus {
    outline: none;
}

.navbar .flex {
    overflow: visible;
    width: 100%;
    justify-content: space-between;
}

/* Navbar Dropdown */

.dropdown {
    position: relative;
    display: block;    
}

.dropdown-menu {
    display: none;
    position: absolute;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    min-width: 100px;   
    width: max-content;  
    max-width: 350px;     
    z-index: 1;
}

.dropdown-menu {
    /* border: 1px red solid; */
    overflow: clip;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-menu, .dropdown-menu:hover {
    display: block;
}

.header {
    border-radius: 10px;
    padding: 5px;
}

a.browse-options-light {
    padding: 2px 7px;
    border-radius: 20px;
}

.browse-options-light:hover {
    background-color: var(--main-colour-light);
}

.selected-light {
    background-color: var(--main-colour-light);
}

.drop-content-tags, .drop-content-numbers {
    text-align: center;
    padding-left: 5px;
    margin-top: 10px;
}

.drop-content-tags a, .drop-content-numbers a {
    border-radius: 20px;
    padding: 6px;
} 

.drop-content-tags a:hover, .drop-content-numbers a:hover {
    background-color: var(--main-accent-colour-light);
} 

.drop-content-tags.grid.grid-3, .drop-content-numbers.grid.grid-3 {
    row-gap: 0;
    grid-template-columns: repeat(3, max-content);    
}

.dropdown-content {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/* Reader & Writer 'Description' */

.reader {        
    height: 400px;
    background-color: var(--main-accent-colour-light);
    color: var(--text-colour-light);
    position: relative;
}

.writer {        
    height: 400px;
    top: 25px;
    margin-bottom: 75px;
    color: var(--text-colour-light);
    position: relative;
}

.reader .card, .writer .card  {   
    margin-top: 100px;
    z-index: 2;
}

.reader .grid, .writer .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.reader .grid > *:first-child, .writer .grid > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.reader .options, .reader i, .writer a, .writer i {
    text-align: center;
}

.reader::before, .reader::after {
    content: '';
    position: absolute;
    height: 200px;
    bottom: -35px;
    right: 0;
    left: 0;
    background: var(--main-accent-colour-light);
    transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    z-index: -1;
}

/* Login & Registration Forms */

.login-form input[type='text'], .login-form input[type='password'],
.registration-form input[type='text'], .registration-form input[type='password'] {
    border: 0;
    border-bottom: 1px solid #B4BECB;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.login-form input:focus, .registration-form input:focus {
    outline: none;
}

.login-form, .registration-form {
    width: 400px;
}

.login-form header, .registration-form header {
    margin-bottom: 10px;
}

.login-form header p, .registration-form header p {
    color: rgb(148, 146, 146);
}

.login-form {
    margin: 0 10px;
    padding-right: 20px;
    border-right: 2px solid var(--main-accent-colour-light);
}

.login-form input[type='submit'] {
    margin-top: 78px;
}

.login-form footer, .registration-form footer {
    display: block;
    margin-top: 20px;
    color: rgb(148, 146, 146);
}

/* Profile Creation Form */

.profile-form {
    margin: auto;
    width: 50%;
    padding: 10px;    
}

.profile-form form {
    margin-top: 10px;
    width: 400px;
}

#account-type {   
    border: 3px solid var(--main-accent-colour-light);
    font-family: inherit;
    font-size: medium;
    width: 100px;
    border-radius: 4px;
    text-align: center;
    margin-left: 20px;
}

#account-type-description {
    border-left: 4px solid var(--main-accent-colour-light);
    padding-left: 5px;
    margin: 5px 10px;
    width: 400px;
    margin-bottom: 20px;
}

.profile-form form textarea:focus {
    outline: none;
}

/* Settings Menu */

.settings.container {
    margin: 50px auto;
}

.setting-header {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--main-accent-colour-light);
}

.menu {
    display: block;
    width: max-content;
    float: left;
    justify-self: flex-start;
}

.menu-item {
    border-bottom: 1px solid var(--main-accent-colour-light);
    padding: 2px 5px;
}

.menu-item:hover {
    background-color: var(--main-accent-colour-light);
    cursor: pointer;
}

.content {
    width: 750px;
    margin: 50px 0px; 
}

#account-settings form {
    margin: 2px 20px;
    margin-right: 300px;
}

.profile-img {
    margin-left: 15px;
}

.pic-upload {
    float: right;
    margin-top: 10px;
    margin-right: 150px;
}

.update-textarea {
    width: 700px;
    height: 100px
}

/* Appearance Settings */
#theme-form {
    display: inline-table;
}

#theme-options > * {
    margin-right: 8px;
}

.radio-button {
    width: max-content;
    height: auto;
    border-radius: 4px;
}

.radio-button > * {    
    cursor: pointer;
}

.radio-button img {
    display: block;
    width: 100%;
    border-bottom: 1px solid var(--main-accent-colour-light);
}

/* Setup 2fa */
.form-2fa {
    width: 100%;
}