@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

:root {
    --main-accent-colour-light: #f0f0f0;
    --main-colour-light: #ffffff;
    --text-colour-light: #333333;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: var(--text-colour-light);
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a { 
    text-decoration: none;
    color: var(--main-colour-dark);
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

/* Navbar */
.navbar {    
    background-color: var(--main-accent-colour-light);
    color: var(--text-colour-light);
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
}

.navbar input[type="search"] {
    width: 50%;
    height: 30px;
    border: none;
    border-radius: 20px;
    padding: 5px 25px;
    justify-self: center;
}

.navbar input[type="search"]:focus {
    outline: none;
}

.navbar .flex {
    overflow: visible;
    width: 100%;
    justify-content: space-between;
}

/* Reader & Writer 'Description' */

.reader {        
    height: 400px;
    background-color: var(--main-accent-colour-light);
    color: var(--text-colour-light);
    position: relative;
}

.writer {        
    height: 400px;
    top: 25px;
    margin-bottom: 75px;
    color: var(--text-colour-light);
    position: relative;
}

.reader .card, .writer .card  {   
    margin-top: 100px;
    z-index: 1;
}

.reader .grid, .writer .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.reader .grid > *:first-child, .writer .grid > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.reader .options, .reader i, .writer a, .writer i {
    text-align: center;
}

.reader::before, .reader::after {
    content: '';
    position: absolute;
    height: 200px;
    bottom: -35px;
    right: 0;
    left: 0;
    background: var(--main-accent-colour-light);
    transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    z-index: -1;
}

.dropdown {
    position: relative;
    display: block;    
}

.dropdown-menu {
    display: none;
    position: absolute;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    min-width: 100px;   
    width: max-content;  
    max-width: 350px;     
    z-index: 1;
}

.dropdown-menu {
    /* border: 1px red solid; */
    overflow: clip;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.header {
    border-radius: 10px;
    padding: 5px;
}

a.browse-options-light {
    padding: 2px 7px;
    border-radius: 20px;
}

.browse-options-light:hover {
    background-color: var(--main-colour-light);
}

.selected-light {
    background-color: var(--main-colour-light);
}

.drop-content-tags, .drop-content-numbers {
    text-align: center;
    padding-left: 5px;
    margin-top: 10px;
}

.drop-content-tags a, .drop-content-numbers a {
    border-radius: 20px;
    padding: 6px;
} 

.drop-content-tags a:hover, .drop-content-numbers a:hover {
    background-color: var(--main-accent-colour-light);
} 

.drop-content-tags.grid.grid-3, .drop-content-numbers.grid.grid-3 {
    row-gap: 0;
    grid-template-columns: repeat(3, max-content);    
}

.dropdown-content {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/* Footer */
.footer {
    padding: 30px;
}

.footer .social a {
    margin: 0 10px;
}