.light-theme-text, .light-theme-link {
    color: var(--text-colour-light);
}

.light-theme-link:hover {    
    border-bottom: 2px var(--text-colour-light) solid;
}

.light-theme-bg-main {
    background-color: var(--main-colour-light);
}

.light-theme-bg-accent {
    background-color: var(--main-accent-colour-light);
}

.logo-light-theme {
    content: url("../images/logo-dark.png");
    width: 200px;
    height: 38px;
}

.logo-dark-theme {
    content: url("../images/logo-light.png");
    width: 200px;
    height: 38px;
}

.light-theme-accent-border {
    border-bottom: 1px solid var(--main-accent-colour-light);
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    transform: scale(0.90);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

.hForm.card {
    width: max-content;
    margin: 50px auto;
}

.dropdown {
    position: relative;
    display: block;    
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 3px;
    padding: 5px;
    border-radius: 10px;
    min-width: 100px;       
    z-index: 1;
}

.dropdown-content ul {
    display: list-item;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.hForm > * {
    display: inline-block;
    vertical-align: top;
}

input[type='text'], input[type='password'] {
    border: 0;
    border-bottom: 1px solid #B4BECB;
    width: 100%;
    padding: 3px;
    font-size: 14px;
}

input:focus {
    outline: none;
}

.error {
    display: block;
    border: 3px solid rgba(255, 0, 0, 0.596);
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.801);
    color: white;
    font-weight: 600;
    margin-bottom: 30px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-between {
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-5 {
    grid-template-columns: repeat(5, 1fr);
}

/* Margin */
.mb70 { margin-bottom: 70px;}

.ilb { display: inline-block;}
